[package]
name = "grin-miner"
version = "0.2.0"
authors = ["Grin Developers <mimblewimble@lists.launchpad.net>"]
publish = false
build = "src/build/build.rs"

[workspace]
members = ["config", "util"]

[[bin]]
name = "grin-miner"
path = "src/bin/grin_miner.rs"

[dependencies]
backtrace = "0.3"
blake2-rfc = "0.2"
bufstream = "~0.1"
lazy_static = "0.2"
serde = "1"
serde_derive = "1"
serde_json = "1"
slog = { version = "~2.1", features = ["max_level_trace", "release_max_level_trace"] }
term = "0.4"
time = "0.1"

grin_miner_util = { path = "./util" }
grin_miner_config = { path = "./config" }

#temporary until cursive author publishes a new release
[dependencies.cursive]
git = "https://github.com/yeastplume/Cursive"
tag = "grin_integration_1"


[build-dependencies]
built = "0.2"
