[package]
name = "grin-miner"
version = "0.4.0"
authors = ["Grin Developers <mimblewimble@lists.launchpad.net>"]
publish = false
build = "src/build/build.rs"
autobins = false

[workspace]
members = ["config", "util"]

[[bin]]
name = "grin-miner"
path = "src/bin/grin_miner.rs"

[dependencies]
backtrace = "0.3"
bufstream = "~0.1"
serde = "1"
serde_derive = "1"
serde_json = "1"
slog = { version = "~2.1", features = ["max_level_trace", "release_max_level_trace"] }
term = "0.4"
time = "0.1"

grin_miner_util = { path = "./util" }
grin_miner_config = { path = "./config" }
cuckoo_miner = { path = "./cuckoo-miner" }
#use this alternative inclusion below to build cuda plugins
#cuckoo_miner = { path = "./cuckoo-miner", features = ["build-cuda-plugins"]}

#temporary until cursive author publishes a new release
[dependencies.cursive]
git = "https://github.com/yeastplume/Cursive"
tag = "grin_integration_1"

[build-dependencies]
built = "0.2"
