[package]
name = "grin_miner_config"
version = "0.2.0"
authors = ["Grin Developers <mimblewimble@lists.launchpad.net>"]
workspace = ".."
publish = false

[dependencies]
serde = "1"
serde_derive = "1"
toml = "0.4"

grin_miner_util = { path = "../util" }
